* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: auto;
    background-color: #252525;
    font-family: 'Helvetica', sans-serif;
    color: #f7f7f7;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

hr {
    color: #000000;
    height: 10px;
}

ul {
    margin-top: 50px;
}

ul li {
    list-style-type: none;
    text-align: center;
    margin-top: 30px;   
}

a {
    text-decoration: none;
    color: #f7f7f7;
}

a:hover {
    color: #ff5733;
}